name: hello-pipeline
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Print commit SHA
        run: echo "SHA=${GITHUB_SHA}"

      - name: Create hello artifact
        run: echo "run $GITHUB_RUN_ID" > hello-3470.txt

      - uses: actions/upload-artifact@v4
        with:
          name: hello-3470
          path: hello-3470.txt
